%section
  .row.header-row
    .span-two-thirds
      %h1 Hi, I'm Perry
      .summary
        I am passionate Ruby on Rails Developer who really enjoys 
        %span.stand-out delivering 
        well crafted code using agile principals. 
      .summary
        I primarily work remotely from my home in Brookfield, WI.
    .span-one-third
      = image_tag('/assets/sweaty-ride.png', :class => 'mug-shot')
  .row
    .span-one-third
      %h3 I am that kind of a Developer
      .summary
        I thrive on small teams because I love being involved in all areas of development including setting up and tuning the various development and production environments.
      .summary
        I particularly enjoy Test Driven Development especially with ruby code and am constantly puzzled at the bad press and slow adoption of TDD.
      .summary
        I am  
        %span.stand-out very
        productive. Simply put, I get things done the right way.
    .span-one-third
      %h3 Interests
      .summary
        I love spending time with my family and trying really hard to be a good husband and father. 
      .summary
        I'm kind of an exercise freak in that I run, cycle, and do resistance training almost every day. Sometimes, this leads to me competing in 
        = link_to('crazy events', '#', {:title => 'Tazered at ToughMudder', :rel => 'popover-img', 'data-content' => "#{image_tag('/assets/perry-tazered.png')}"})
        or 
        = link_to('getting air rescued', 'http://bit.ly/o7DWcX')
        because I 
        = link_to("\"failed to negotiate a jump\".", 'http://bit.ly/o7DWcX')
    .span-one-third
      %h3 Currently
      .summary
        I am a Team Lead at
        = link_to('G5', 'http://www.g5platform.com/')
        where we quickly create and market web sites for multi-family housing, senior living, self-storage, and student housing using our in-house CMS.

