- title "Hi, I'm Perry"
%section
  .row.header-row
    .span-two-thirds
      %h1 Hi, I'm Perry
      .summary
        I am passionate Ruby on Rails Developer who really enjoys 
        %span.stand-out delivering 
        well crafted code using eXtreme Programming development practices and Scrum for project organization.

    .span-one-third
      = image_tag('perry-blue-resume.png', {:width => 110, :height => 121})
  .row
    .span-one-third
      %h3 
        I am this kind of a Developer
      .summary
        I thrive on small teams because I love being involved in all areas of development including setting up and tuning the various development and production environments.
      .summary
        I particularly enjoy Test Driven Development especially with ruby code and am constantly puzzled at its slow adoption.
      .summary
        I am  
        %span.stand-out very
        productive. My teams have delivered over 30 applications on time, on budget, and feature complete. Simply put, I get things done the right way.
    .span-one-third
      %h3 A fit Geek
      .summary
        I love spending time with my family and introducing my children to hobbies that I missed out on when I was a kid.
      .summary
        I'm kind of an exercise freak in that I run, cycle, and do resistance training almost every day. Sometimes, this leads to me competing in 
        = link_to('crazy events', '#', {:title => 'Tazered at ToughMudder', :rel => 'popover-img', 'data-content' => "#{image_tag('/assets/perry-tazered.png')}"})
        or 
        = link_to('getting air rescued', 'http://bit.ly/o7DWcX')
        because I 
        = link_to("\"failed to negotiate a jump\".", 'http://bit.ly/o7DWcX')
    .span-one-third
      %h3 Currently
      .summary
        I am a Team Lead at
        = link_to('G5 Platform', 'http://www.g5platform.com/')
        where we quickly create and market web sites for multi-family housing, senior living, self-storage, and student housing using our in-house CMS.

