- title "Hi, I'm Perry"

%section.thirtyseven
  .row.header-row.center
    .span16
      %h2 
        Hi, I'm 
        = link_to('Perry', 'https://github.com/perryqh')
        %span.dot .
           
    .span16= image_tag('perry-blue-resume.png', {:width => 110, :height => 121})
      
  .row
    .span16.center.explain
      %h2 
        I am passionate Ruby on Rails Developer who really enjoys delivering well crafted code using eXtreme Programming development practices and Scrum for project organization.
    .span-one-third
      %h3 
        Who says TDD isn't fast?
      .summary
        I particularly enjoy Test Driven Development especially with ruby. Mentoring developers on how to TDD is fulfilling in that I am proactively reducing the amount of unmaintainable code in the world. 
      .summary  
        %span.stand-out I get things done...the right way.
        I mercilessly refactor code, but this doesn't slow things down. It speeds them up! My teams have delivered over 30 applications on time, on budget, and feature complete. 
      .summary
        I thrive on small teams because I love being involved in all areas of development. It's great to deliver ground-breaking products with teams that continiously improve.
      
        
    .span-one-third
      %h3 Hide the carrot juice!
      .summary
        I love spending time with my family and introducing my children to hobbies that I missed out on when I was a kid.
      .summary
        I'm kind of an exercise freak in that I run, cycle, and do resistance training almost every day. Sometimes, this leads to me competing in 
        = link_to('crazy events', '#', {:title => 'Tazered at ToughMudder', :rel => 'popover-img', 'data-content' => "#{image_tag('perry-tazered.png')}"})
        or getting air rescued because I
        = link_to("\"failed to negotiate a jump\"", 'http://bit.ly/o7DWcX')
        %span.dot .
      .summary
        In summary, I'm not going to eat all of your cheetos or drink all of your beer, but you may want to hide the juicer.
    .span-one-third
      %h3 Currently
      .summary
        I am a Team Lead at
        = link_to('G5 Platform', 'http://www.g5platform.com/')
        where we quickly create and market web sites for multi-family housing, senior living, self-storage, and student housing using our in-house CMS. 

  .row
    .span16.center.explain
      %h2 github Projects
    .span16.center
      .summary
        My largest project publicly available on github is  
        = link_to('crbc', 'https://github.com/crbc-dev/crbc')
        %span.dot, which is my church's website 
        = link_to('reformedbaptist.us', 'http://reformedbaptist.us')
        %span.dot .
      .summary
        = link_to('Translatable', 'https://github.com/perryqh/translatable')
        and the 
        = link_to('site you are currently viewing', 'https://github.com/perryqh/mybrand')
        are smallish rails 3.1 applications. 

  .row
    .span16.center.explain
      %h2 Recent Projects
    .span16.center
      .summary
        In the last few years, I have been the lead developer on 
        = link_to('g5search.com', 'http://g5search.com')
        %span.dot ,
        = link_to('seasonalbids.com', 'http://seasonalbids.com')
        %span.dot ,
        = link_to('pod-cme.com', 'http://pod-cme.com')
        %span.dot, and
        = link_to('nailyourmortgage.com', 'http://nailyourmortgage.com')
        %span.dot .
      
    .span16.center
      .summary
        Earlier, there is a 9 year "undercover" period in my professional career where I created the most amazing products with brilliant people at the
        = link_to('Space and Naval Warfare Systems Command', 'http://enterprise.spawar.navy.mil/')
        and then 
        = link_to('Sandia National Labs', 'http://www.sandia.gov/')
        %span.dot . 
        Unfortunately, I can't elaborate on what I did specifically or I would have to ...

