- title "Perry Hertler - Resume"
%section
  .resume-container
    .row
      %address.span9
        %h1 Perry Hertler
        .span3= mail_to 'perry@hertler.org'
        .span3 262.373.8175 
        .span3= link_to('github.com/perryqh', 'http://github.com/perryqh')
        .span3= link_to '@perryqh', 'http://twitter.com/#!/perryqh'
      .span6   
        = image_tag('/assets/perry-blue-resume.png', {:class => 'resume-mugshot', :width => 110, :height => 121})
    .resume-content
      .row
        %h2 PROFILE
        .summary.marg-top
          I am a Ruby on Rails and iOS Developer with over 13 years experience delivering highly performant well craftedoftware in a wide variety of software systems including embedded, real-time, distributed, desktop, and web applications using agile best practices. I have delivered over 30 applications on time, on budget, and feature complete
        .summary
          I am particularly interested in fully utilizing my high productivity and wide breadth of skills at a small startup company.
      .row
        %h2 EXPERIENCE
        %h3.no-marg= link_to('G5 Platform', 'http://g5platform.com')
        %em Team Lead, Bend, OR (telecommute), [May.2011 - Present]
        .summary
          G5 provides online marketing solutions to self-storage, student-housing, and senior living properties. I am responsible for leading software developers across our two main effors, Reporting and Mobile.
        .summary
          I was also part of a team that upgraded the core custom CMS from Rails 2 to Rails 3.

      .row
        %h3= link_to('Pathfinder Software', 'http://pathfindersoftware.com/')
        %em CTO, Chicago, IL (telecommute), [September.2009 - May.2011]
        .summary
          Pathﬁnder is a consulting ﬁrm that specializes in delivering MVP for startup companies. While serving as CTO I also participated as Lead Developer on several projects.
        %h4 Projects
        %h5 DataColor Colorspot (iOS 4) - Lead Developer
        .summary
          Colorspot is an iPhone application used by interior designers to capture color swatches and then visualize the swatch on surfaces, compare it to another swatch, view color harmony, lookup similar colors, and share the swatch.
        %h5 
          = link_to('seasonalbids.com', 'http://seasonalbids.com/')
          (Rails 3) - Lead Developer
        .summary
          SeasonalBids provides property managers (PMs) a place to author and public request for bids (RFBs). Contractors can then search for RFBs in their area and bid on them up until the deadline date, which is set by the property manager. PMs can then award contracts to the winning contractors.
        %h5
          = link_to('pod-cme.com', 'https://www.pod-cme.com/login')
          (Rails 3) - Lead Developer
        .summary
          pod-cme is used by physicians to participate in clinical studies and obtain CME credits. Administrators of the site can build clinical area questionnaires and provide education material in documents, podcasts, or videos.
        %h5 
          = link_to('nailyourmortgage.com', 'http://nailyourmortgage.com')
          (Rails 2.3) - Senior Developer
        .summary
          nailyourmortgage provides wholesale mortgages to home buyers and reﬁnancers.
      .row
        %h3= link_to('Redpoint Technologies', 'http://redpointtech.com/')
        %em Technical Software Architect, Chicago, IL (telecommute), [September.2007 - September.2009]
        .summary
          Redpoint is a software consulting firm. In addition to leading project, I also served as Redpoint's only 
          %i Technical
          Software Architect, which involved evaluating technologies and products, mentoring developers, and conference speaking.
        %h4 Projects
        %h5 
          = link_to('britetab.com', 'http://britetab.com')
          (groovy) - System Administrator
        .summary
          BriteTab is a rich content online resume builder. Videos and images can be embedded in a traditional resume.
        %h5 global time and expense (ASP.NET) - Lead Developer
        .summary
          The global time and expense application is used in over 50 countries by over 300,000 users.
      .row
        %h3 
          Consultant for 
          = link_to('Los Alamos', 'http://lanl.gov/')
          and 
          = link_to('Sandia National Labs', 'http://www.sandia.gov/')
        %em Software Architect, Albuquerque, NM, [May.2001 - September.2007]
        .summary
          I designed and developed multiple systems used to identify, locate, and sometimes eliminate national security threats. These applications had 100% code coverage before testing was cool!
      .row
        %h3 INRI
        %em Software Engineer, San Diego, CA, [December.1998 - May.2001]
        .summary
          I designed and developed multiple distributed communication systems used by the Department of Defense.
      .row
        %h2 EDUCATION
        %h3.no-marg= link_to('University of Wisconsin - Madison', 'http://www.wisc.edu/')
        B.S. with double major in Computer Science and Mathematics
      .row
        %h2 SKILLS
        %h3.no-marg Languages
        .summary
          Ruby, Java, C#, Objective-C, C++
        %h3 Frameworks/Databases
        .summary
          Ruby on Rails, JQuery, MySQL, Postgres, Oracle
        %h3 Testing
        .summary
          Real TDD with RSpec
        %h3 Platform/Tools
        .summary
          Heroku, EC2, S3, RDS, Cloudfront, Passenger, Git, OSX, Linux
        %h3 Performance
        .summary
          Rapid application development, load testing, proﬁling, instrumentation, code optimization, database optimization
