!!!
%html
  %head
    %title= yield(:title) || "perry hertler"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    -#%link{:rel => "Shortcut Icon", :type => "image/ico", :href => asset_path("favicon.png")}

  %body
    = render :partial => 'layouts/topbar'

    .container
      #content= yield

      
